body
{
    color: red;
    font-style: oblique;
    font-size: larger;
    font-weight: bolder;
    font-size: xx-large;
    
    background-image: url(pngtree-modern-double-color-futuristic-neon-background-picture-image_1181573.jpg);
}