body
{
    background-image: url(v1016-c-08_1-ksh6mza3.jpg);
    font-style: oblique;
    font-weight: normal;
    font-size: xx-large;
    color: rgb(255, 255, 255);

}
h1
{
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-weight: normal;
    font-size: xx-large;
   
   

}